/* App.css */
body {
  font-family: cursive;
  margin: 0;
  padding: 0;
  background-color: #24242537;
  background-image: url('https://img.freepik.com/free-vector/blue-blurred-background-design_1107-117.jpg?semt=ais_hybrid'); 
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  height: 100vh; /* Ensure it covers the whole viewport */
}


.App {
  text-align: center;
}

nav {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
